<!DOCTYPE html>
<html lang="es">
	<head>		
		<%-include('parciales/head') %>
	</head>
	<body>
		<header class="sticky-top bg-white border-bottom">
			<%-include('parciales/header') %>
		</header>
		<main>				
			CREAR TABLERO	
		</main>
		<!-- Pie de página -->
		<footer class="fondo_corporativo_azul_marino text-white py-2 mt-2">
			<%-include('parciales/footer') %>				
		</footer>
		<%-include('parciales/modales_scripts') %>	
		<!--<script src="scripts/scr_profesores.js"></script>-->
	</body>
</html>