<!DOCTYPE html>
<html lang="es">
	<head>		
		<%-include('parciales/head') %>	
	</head>
	<body>
		<header class="sticky-top bg-white border-bottom">
			<%-include('parciales/header') %>
		</header>
		<main>		
			<h1>Bienvenido a la mejor formación online</h1>
			<!-- Carrusel -->			
			<div id="carrusel_cursos" class="carousel slide  mx-auto mt-5  mb-5  d-table " data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carrusel_cursos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Diseño Industrial"></button>
					<button type="button" data-bs-target="#carrusel_cursos" data-bs-slide-to="1" aria-label="Alemán Básico"></button>
					<button type="button" data-bs-target="#carrusel_cursos" data-bs-slide-to="2" aria-label="Alemán Básico II"></button>
					<button type="button" data-bs-target="#carrusel_cursos" data-bs-slide-to="3" aria-label="Excel Avanzado"></button>
					<button type="button" data-bs-target="#carrusel_cursos" data-bs-slide-to="4" aria-label="Fundamentos de IA"></button>
				</div>
				<div class="carousel-inner rounded-4 overflow-hidden">
					<div class="carousel-item active">
						<a href="curso_detalle_3.html">
							<picture>
								<!-- Tamaño pequeño para movil -->
								<source srcset="img/curso_3_m.png" media="(max-width: 767px)">
								<!-- Tamaño mediano para tablet -->
								<source srcset="img/curso_3_t.png" media="(max-width: 991px)">
								<!-- Tamaño para PC -->
								<img src="img/curso_3.webp" class="d-block mx-auto" alt="Diseño Industrial">
							</picture>
						</a>
						<div class="carousel-caption d-none d-md-block">        
							<p class="display-4 fw-bold">Diseño Industrial</p>
						</div>
					</div>					
					<div class="carousel-item">
						<a href="curso_detalle_4.html">
							<picture>
								<!-- Tamaño pequeño para movil -->
								<source srcset="img/curso_4_m.png" media="(max-width: 767px)">
								<!-- Tamaño mediano para tablet -->
								<source srcset="img/curso_4_t.png" media="(max-width: 991px)">
								<!-- Tamaño para PC -->
								<img src="img/curso_4.webp" class="d-block mx-auto" alt="Alemán Básico">
							</picture>
						</a>
						<div class="carousel-caption d-none d-md-block">        
							<p class="display-4 fw-bold">Alemán Básico</p>
						</div>
					</div>					
					<div class="carousel-item">
						<a href="curso_detalle_6.html">
							<picture>
								<!-- Tamaño pequeño para movil -->
								<source srcset="img/curso_6_m.png" media="(max-width: 767px)">
								<!-- Tamaño mediano para tablet -->
								<source srcset="img/curso_6_t.png" media="(max-width: 991px)">
								<!-- Tamaño para PC -->
								<img src="img/curso_6.webp" class="d-block mx-auto" alt="Alemán Básico II">
							</picture>
						</a>
						<div class="carousel-caption d-none d-md-block">        
							<p class="display-4 fw-bold">Alemán Básico II</p>
						</div>
					</div>					
					<div class="carousel-item">
						<a href="curso_detalle_7.html">
							<picture>
								<!-- Tamaño pequeño para movil -->
								<source srcset="img/curso_7_m.png" media="(max-width: 767px)">
								<!-- Tamaño mediano para tablet -->
								<source srcset="img/curso_7_t.png" media="(max-width: 991px)">
								<!-- Tamaño para PC -->
								<img src="img/curso_7.webp" class="d-block mx-auto" alt="Excel Avanzado">
							</picture>
						</a>
						<div class="carousel-caption d-none d-md-block">        
							<p class="display-4 fw-bold">Excel Avanzado</p>
						</div>						
					</div>
					<div class="carousel-item">
						<a href="curso_detalle_8.html">
							<picture>
								<!-- Tamaño pequeño para movil -->
								<source srcset="img/curso_8_m.png" media="(max-width: 767px)">
								<!-- Tamaño mediano para tablet -->
								<source srcset="img/curso_8_t.png" media="(max-width: 991px)">
								<!-- Tamaño para PC -->
								<img src="img/curso_8.webp" class="d-block mx-auto" alt="Fundamentos de IA">
							</picture>
						</a>
						<div class="carousel-caption d-none d-md-block">        
							<p class="display-4 fw-bold">Fundamentos de IA</p>
						</div>
					</div>									
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carrusel_cursos" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Anterior</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carrusel_cursos" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Siguiente</span>
				</button>
			</div>		
			<!-- Bloques informativos -->
			<div class="container-fluid mt-5">
				<div class="row g-4">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro"> 
							<h2>Formamos tu futuro:</h2>
							<p>
								<span class="fw-bold">Formación Global Online</span> es una empresa dedicada a la formación en línea, cuyo principal objetivo es facilitar el acceso al aprendizaje desde cualquier lugar y en cualquier momento.
								<span class="puntos">...</span>
								<span class="texto_extra" style="display: none;">
									 A través de una plataforma moderna y accesible, la empresa ofrece una amplia variedad de cursos online orientados tanto a estudiantes como a profesionales que desean mejorar sus competencias y ampliar sus conocimientos.
									 <br>
									 La oferta formativa abarca distintas áreas, como tecnología, empresa, diseño e idiomas, entre otras, adaptándose a las necesidades actuales del mercado laboral. Los cursos están diseñados para ser flexibles, prácticos y actualizados, permitiendo al alumnado avanzar a su propio ritmo y adquirir habilidades aplicables en el entorno profesional
								</span>								
							</p>
							<span class="boton-leer fw-bold " style="cursor: pointer;">Leer más</span>							
						</article>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro">
							<h2>Nuestra formación:</h2>
							<div>
								En el entorno laboral actual, la actualización constante es la clave del éxito. Tenemos a tu disposición cursos diseñados por expertos que te ayudarán a desarrollar las habilidades más demandadas.
								<span class="puntos">...</span>
								<div class="texto_extra" style="display: none;">
									 <br>
									 Actualmente contamos en nuestro catálogo con formación especializada en:
									 <ul>
										<li class="fw-bold">Tecnología</li>
										<li class="fw-bold">Empresa</li>
										<li class="fw-bold">Diseño</li>
										<li class="fw-bold">Idiomas</li>							
									</ul>
									<br>Puedes consultar nuestro catálogo de cursos <a href="listado_cursos.html" title="Consulta el catálogo de cursos">aquí</a>.
								</div>
								<span class="boton-leer fw-bold" style="cursor: pointer;">Leer más</span>								
							</div>
							
						</article>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro">
							<h2>Nuevos cursos:</h2>
							<p>
								Trabajamos para ofrecer los mejores recursos didácticos y ponerlos a disposición de nuestros alumnos. Con el fin de mantener la mejor oferta disponible, continuamente estamos desarrollando nuevos cursos 
								<span class="puntos">...</span>
								<span class="texto_extra" style="display: none;">
									y ampliamos las áreas de especialización de forma sostenible para no comprometer la calidad de nuestra formación.
									 <br>
									 Próximamente contaremos con cursos especializados en: <span class="negrita">Marketing digital</span> y <span class="negrita">Recursos Humanos.</span>									 									
								</span>								
							</p>
							<span class="boton-leer fw-bold" style="cursor: pointer;">Leer más</span>
						</article>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro">
							<h2>Nueva colaboración con la empresa <span class="fw-bold">Diseños a medida</span></h2>
							<p>
								<span class="fw-bold">Formación Global Online</span> ha llegado a un acuerdo con  la empresa <span class="fw-bold">Diseños a medida</span>  
								<span class="puntos">...</span>
								<span class="texto_extra" style="display: none;">
									, la consultora líder en soluciones creativas personalizadas.
									 <br>
									 El objetivo de este acuerdo es el desarrollo y lanzamiento de un nuevo programa formativo de alto nivel: el <span class="fw-bold">Máster en Diseño Personalizado</span>.								
								</span>								
							</p>		
							<span class="boton-leer fw-bold" style="cursor: pointer;">Leer más</span>
						</article>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro">
							<h2>¡Damos la bienvenida a <span class="negrita">Jesús Castro</span> a nuestro claustro docente!"</h2>
							<p>
								En <span class="fw-bold">Formación Global Online</span> seguimos creciendo para ofrecerte el mejor aprendizaje. Por eso, nos hace mucha ilusión anunciar la incorporación de <span class="fw-bold">Jesús Castro  </span>
								<span class="puntos">...</span>
								<span class="texto_extra" style="display: none;">
									a nuestra plantilla académica.
									<br>
									Jesús se une a nosotros como profesor especialista en idiomas, aportando una sólida experiencia. Aunque domina diversas lenguas, su gran especialidad es el alemán, donde destaca por su capacidad para simplificar el aprendizaje y hacerlo accesible a todos los niveles.								
								</span>								
							</p>
							<span class="boton-leer fw-bold" style="cursor: pointer;">Leer más</span>
						</article>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro">
							<h2>Nuevo programa de becas</h2>
							<p>
								En nuestro compromiso por democratizar el acceso a una educación de calidad, <span class="fw-bold">Formación Global Online</span> se enorgullece de anunciar una nueva convocatoria de <span class="fw-bold">Becas al Talento</span>, patrocinadas íntegramente por nuestro partner tecnológico, <span class="fw-bold">Estamos en la nube</span>.
								<span class="puntos">...</span>
								<span class="texto_extra" style="display: none;">
									<br>
									Gracias a este acuerdo de colaboración, ponemos a disposición de nuestra comunidad una serie de ayudas económicas destinadas a cubrir hasta el 70% del coste de matriculación en nuestros cursos más demandados.
									<br>
									Estamos ultimando los detalles, próximamente publicaremos las bases y el formulario para solicitarlas.
								</span>								
							</p>
							<span class="boton-leer fw-bold" style="cursor: pointer;">Leer más</span>
						</article>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro">
							<h2>Marketing Digital: Lidera la estrategia del futuro</h2>
							<p>
								¡El mundo digital no espera! En <span class="fw-bold">Formación Global Online</span> estamos ultimando los detalles de nuestra nueva línea de cursos en <span class="fw-bold">Marketing Digital</span>.
								<span class="puntos">...</span>
								<span class="texto_extra" style="display: none;">
									<br>
									Diseñados para quienes buscan resultados reales, estos programas te enseñarán a dominar el SEO/SEM, la analítica avanzada y las últimas tendencias en Social Ads. Ya seas un emprendedor o un profesional buscando actualizarse, nuestra formación te dará las herramientas para posicionar cualquier marca en lo más alto.
								</span>								
							</p>
							<span class="boton-leer fw-bold" style="cursor: pointer;">Leer más</span>							
						</article>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro">
							<h2>Recursos Humanos: Gestión del talento en la era 4.0</h2>
							<p>
								Las empresas ya no se gestionan como antes. Por eso, en <span class="fw-bold">Formación Global Online</span> lanzamos nuevos cursos especializados en <span class="fw-bold">Recursos Humanos</span>, centrados en la transformación digital del departamento.
								<span class="puntos">...</span>
								<span class="texto_extra" style="display: none;">
									<br>
									Aprende a gestionar equipos híbridos, domina el Employer Branding y descubre cómo el People Analytics puede mejorar la toma de decisiones. Es el momento de convertirte en el líder que las organizaciones modernas necesitan para retener y potenciar el talento.
								</span>								
							</p>
							<span class="boton-leer fw-bold" style="cursor: pointer;">Leer más</span>
						</article>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<article class="entrada h-100 border rounded p-3 mb-3 fondo_corporativo_azul_claro">
							<h2>Abierto el periodo de matriculación en Formación Global Online</h2>
							<p>
								¿Tienes una meta profesional y aún no has dado el paso? ¡Este es el momento! Te recordamos que nuestra plataforma de <span class="fw-bold">Formación Global Online</span> mantiene abiertas las inscripciones para todo nuestro catálogo de cursos.
								<span class="puntos">...</span>
								<span class="texto_extra" style="display: none;">
									<br>
									 Hemos diseñado cada programa para que adquieras habilidades prácticas y reales, adaptadas a lo que las empresas buscan hoy.
								</span>								
							</p>		
							<span class="boton-leer fw-bold" style="cursor: pointer;">Leer más</span>
						</article>
					</div>					
				</div>
			</div>				
		</main>		
		<!-- Pie de página -->
		<footer class="fondo_corporativo_azul_marino text-white py-2 mt-2">
			<%-include('parciales/footer') %>		
		</footer>
        <%-include('parciales/modales_scripts') %>
		<script src="scripts/scr_index.js"></script>
	</body>
</html>