<!DOCTYPE html>
<html lang="es">
	<head>		
		<%-include('parciales/head') %>
	</head>
	<body>
		<header class="sticky-top bg-white border-bottom">
			<%-include('parciales/header') %>
		</header>
		<main>				
			<h1>Nuestro equipo docente</h1>
			<p class="text-center">Contamos con profesionales expertos en sus áreas de conocimiento para impartir nuestros cursos</p>
			<div class="table-responsive">
				<table class="table table-bordered table-hover mx-auto" style="width: 80%;">
					<thead class="table-primary">
						<tr>
							<th class="nombre" style="cursor:pointer">Nombre del profesor/a</th>
							<th>Área de especialización</th>
							<th class="experiencia" style="cursor:pointer">Años de experiencia</th>
							<th class="n_cursos" style="cursor:pointer">Nº de cursos que imparte</th>
							<th>Requisitos adicionales</th>
						</tr>
					</thead>
					<tbody id="tabla-profesores" class="text-center">
						<!-- El contenido se inserta con JavaScript -->
					</tbody>
				</table>
			</div>				
		</main>
		<!-- Pie de página -->
		<footer class="fondo_corporativo_azul_marino text-white py-2 mt-2">
			<%-include('parciales/footer') %>				
		</footer>
		<%-include('parciales/modales_scripts') %>	
		<script src="scripts/scr_profesores.js"></script>				
	</body>
</html>